[alias]
  co = checkout
  st = status
  hist = log --graph --date=short --pretty=format: '%h %ad | %s%d [%an]'
  type = cat-file -t
  dump = cat-file -p
  s = status --short
  sb = show-branch
  sbr = show-branch --remotes
  l = log --oneline
  r = remote
[color]
  ui = true
  
