[alias]
  co = checkout
  fa = fetch --all
  hist = log --graph --date=short --pretty=format: '%h %ad | %s%d [%an]'
  l = log --oneline
  s = status --short
  st = status
  type = cat-file -t
  dump = cat-file -p
  sb = show-branch
  sbr = show-branch --remotes
  r = remote -v
[color]
  status = auto
  branch = auto
  ui = true
[init]
  defaultBranch = main
[pull]
  ff = only
[push]
  default = simple
